/* GitHub btn */
.btn-GitHub {
	position: fixed;
	top: 3.2em;
	right: -3.7em;
	display: block;
	padding: 4px 0;
	background:  #EFE4DC 0 0 repeat;
	box-shadow: 1px 1px 5px 1px #666;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	z-index: 999;
}
.btn-GitHub a{
	display: block;
	padding: .4em 3.5em;
	color:#000;
	font-family: Arial;
	text-align: center;
	text-decoration: none;
}
.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
#toolbar {
	position: relative;
	border: 1px solid black;
	height: 61px;
	background-color: #DEB887;
	border-radius: 5px;
}
.buttonDiv {
	width: 49.5%;
	height: 44px;
	background-color: #DEB887;
	float: left;
	padding-top: 7px;
	padding-bottom: 10px;
}
.buttonDiv:first-of-type {
	border-right: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.createdDivButton,
.createdDivText {
	width: 200px;
	height: 200px;
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}
.createdDivButton a{
	margin-top: 80px;
	display: inline-block;
	margin-left: 40px;
	font-size: 25px;
	cursor: pointer;
}
.createdDivText p{
	margin-top: 80px;
	display: inline-block;
	margin-left: 50px;
	font-size: 25px;
	cursor: pointer;
}
#createButton, #createText {
	padding: 10px;
	color: black;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	background: #EFE4DC;
	border: 1px solid black;
	border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin: 5px 10px 0 0;
	cursor: pointer;
	margin-left: 43%;
}
#createButton:hover, #createText:hover {
	background:#afaba7;
	color:white;
	text-shadow: 1px 1px 0px black;
	cursor:pointer;
}