body > div:after {
	clear: both;
	display: table;
	content: '';
}
#popUp_overlay{
	position: absolute;
	top: 0;
	left: 0;
}
#img_popUp {
	border-radius: 15px;
	background:#dee;
	display:inline;/*IE6*/
	height: auto;
	position: fixed;
	width:auto;
	z-index:500;
	padding: 15px 10px 15px 19px;
}
#img_popUp {
	display: none;

}
.imgDescription {
	width: 40%;
	float: left;
	text-align: justify;
	margin-right: 5px;
}
.imgDiv {
	width: 300px;
	cursor: pointer;
	float: left;
}
.imgDiv img {
	width: 300px;
}
#cancelButton {
	cursor: pointer;
}
.imgText, .imgDiv p {
	text-align: center;
}
#cancelButton {
	float: right;
	margin-top: -24px;
	margin-right: -24px;
	background: #dee;
	padding: 8px;
	border-radius: 16px;
}
/* GitHub btn */
.btn-GitHub {
	position: fixed;
	top: 3.2em;
	right: -3.7em;
	display: block;
	padding: 4px 0;
	background: #cbe5f8;
	box-shadow: 1px 1px 5px 1px #666;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	z-index: 999;
}
.btn-GitHub a {
	display: block;
	padding: .4em 3.5em;
	color: #000;
	font-family: Arial;
	text-align: center;
	text-decoration: none;
}