/*====== reset styles ====== */
html,body,div,p,ul,li,table,tr,td,a,span,h1{margin:0;padding:0;border:0;}
img{border:0;outline:0;}
a{text-decoration:none;}
ul{list-style-type:none}

/* ====== fonts styles ====== */
@font-face{font-family:'HelveticaInseratLT';src:url('fonts/HelveticaInseratLT-Roman_gdi.eot');src:url('fonts/HelveticaInseratLT-Roman_gdi.eot?#iefix') format('embedded-opentype'),url('fonts/HelveticaInseratLT-Roman_gdi.woff') format('woff'),url('fonts/HelveticaInseratLT-Roman_gdi.ttf') format('truetype'),url('fonts/HelveticaInseratLT-Roman_gdi.svg#HelveticaInseratLT-Roman') format('svg');font-weight:400;font-style:normal;font-stretch:normal;unicode-range:U+0020-2122;}

/* ====== common style START ====== */
body{font-family:Tahoma;font-size:12px;line-height:18px;}
.clarfix:after{display:table;clear:both;content:" "}
.conteiner,div.header,div.footer{width:1200px;min-width:800px;margin:10px auto;background:#cccccc;}
.col{float:left;}
.content,.aside{background:#515151;}
.left-col > div,.right-col >div,.aside,.footer >div{padding:10px;}
/* ====== common style END ====== */

/* ====== GitHub btn START ====== */
.btn-GitHub{position:fixed;top:2.5em;right:-3.7em;display:block;padding:4px 0;background:#cccccc;box-shadow:1px 1px 5px 1px #666;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;z-index:999;}
.btn-GitHub a{display:block;padding:.4em 3.5em;color:#000;font-family:Arial;text-align:center;text-decoration:none;}
/* ====== GitHub btn END ====== */

/* ====== header style START ====== */
.logo{position:absolute;left:0;top:85px;}
div.header{width:1180px;padding:75px 10px 0;}
.main-nav li{float:left;min-width:102px;margin-right:2px;padding:6px 5px 7px;background:#666666;font-size:14px;font-weight:bold;text-align:center;}
.main-nav li a,.main-nav li span{color:#fff;}
.main-nav{float:left;}
.drop-down{position:relative;}
.drop-down span{display:block;background:url(img/arrows-sprite.png) 85px -28px no-repeat;cursor:pointer;}
.drop-down.select{background:#000000;}
.drop-down ul{display:none;position:absolute;bottom:-88px;left:0px;width:150px;}
.drop-down.select ul{display:block;}
.drop-down.select ul,.drop-down.select ul li{background:#000000;}
.drop-down ul li{width:93%;margin:0 5px;padding:0;border-top:1px solid #808080;font-size:12px;line-height:14px;text-align:left;font-weight:normal;}
.drop-down ul li a{display:block;padding:5px 4px;}
.drop-down ul li:first-child{border-top:0px;}
.flags{float:right;}
.flags li{float:left;margin-top:2px;}
.flags li span{display:block;width:28px;height:20px;margin-right:4px;opacity:0.7;	/* IE 8 */-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.flags li span:hover,.flags li.selected span{opacity:1;	/* IE 8 */-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);}
.flags li span.uk{background:url(img/flag-sprites.png) 0 0 no-repeat;}
.flags li span.fr{background:url(img/flag-sprites.png) -32px 0 no-repeat;}
.flags li span.de{background:url(img/flag-sprites.png) -64px 0 no-repeat;}
/* ====== header style END ====== */

/* ====== content style START ====== */
.left-col{width:70%;}
.content{padding:24px 20px;}
.content h1{font-family:'HelveticaInseratLT';font-size:48px;line-height:48px;font-weight:normal;color:#fff;}
.content h1 hr{height:1px;background:#000000;border-color:#7a7a7a;border-style:none none solid none;margin:15px 0 15px;}
.content p{margin-bottom:20px;padding:0 10px;color:#fff;text-indent:35px;}
.right-col{width:30%;background:#a3a3a3;}
.aside{background:#515151;}
/* ====== content style END ====== */

/* ====== aside START ====== */
.accordionItem{margin-top:1px;padding:0 10px;background:#000000;color:#fff;}
.accordionItem:first-child{margin-top:0px}
.accordionItem p{padding:15px 0 22px;text-align:justify;}
.accordionItem h2{margin:0;padding:8px 0;font-weight:normal;font-size:12px;background:url(img/arrows-sprite.png) 294px -22px no-repeat;}
.accordionItem.hide div{display:none;}
.accordionItem.hide h2{background-position:294px 14px}
/* ====== aside END ====== */

/* ====== footer START ====== */
.footer,.footer a{font-size:14px;color:#515151;}
.footer a{text-decoration:underline;}
.footer .copyright{float:left;display:inline-block;}
.footer ul{float:right;display:inline-block;}
.footer ul li{float:left;padding:0 7px;}
/* ====== footer END ======  */

/* ====== table content START ======  */
#table-content{padding:10px;background:#282828;}
table{width:100%;border-collapse:collapse;font-size:14px;color:#fff;text-align:center;}
table td{width:30%;text-align:center;}
table td:first-child{width:10%;}
table td div{padding:5px 5px 10px;}
table td.title div{margin-bottom:10px;padding:5px 5px 10px;border-bottom:1px solid #7a7a7a;}
tr.data-row.odd{background:#363636;}
/* ====== table content END ======  */

@media screen and (max-width:1260px){
	.conteiner,div.footer{width:95%;}
	div.header{width:93%; min-width: 780px;}
}